extends ../shared/template

block content
  h1 nodeTunes - albums



  .albums-container
    each album in albums
      .album
        p= album.albumName
        img(src='/img/#{"album.artist.name"}/#{album.albumName}/#{album.albumPhoto}')
